:root {
  
  --bg-dark: #0b0f19;
  --bg-card: #111827;
  --text-main: #e5e7eb;
  --text-muted: #9ca3af;
  --accent: #22c55e;
  --border-soft: #1f2937;
  --hover-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: var(--bg-dark);
  color: var(--text-main);
  scroll-behavior: smooth;
}
